# Environment Variables for Backend
NODE_ENV=production
MONGODB_URI=mongodb+srv://22r21a6729:Hemanth%40123@cluster0.w5uqskb.mongodb.net/portfolio?retryWrites=true&w=majority&appName=Cluster0
LYZR_API_KEY=sk-default-V6WxgXjv3XYUTZCeojLNTiW61eH9Ha7W
LYZR_AGENT_ID=69259a68c69ec8d9a07849bc
PORT=5000